{% set url = "'./assets/images/default-banner.png'" %}

{% if isNothing %}
    {% set url = "'./assets/images/banner-2.png'" %}
{% elseif isText or isCar %}
    {% set url = "'./assets/images/banner-3.png'" %}
{% endif %}

{% if def %}
    {% set url = "'./assets/images/default-banner.png'" %}
{% endif %}

{% if _3d %}
    {% set url = "./assets/images/3d-banner.png" %}
{% endif %}

{% if isMain %}
    {% set url = "./assets/images/default-banner.png" %}
{% endif %}

{% if isVideo %}
    {% set url = "" %}
{% endif %}

<div class="default-banner{{ isSlider ? " default-banner_slider" }}{{ command ? ' with-content' }}"
     {% if not backSlider %}style="background-image: url({{ url }});"{% endif %}>

    {% if backSlider %}
        <div class="js-back-slider">
            <div class="default-banner__backSlider js-back-slider-swiper">
                <div class="swiper-wrapper">
                    {% for item in [1,2,3,4,1,2,3,4] %}
                        <div class="swiper-slide">
                            <img src="./assets/images/catalog-{{ item }}.png" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if withControls and not isSlider %}
                <div class="default-banner__backSlider-controls js-slider-controls">
                  <span class="prev">
                    <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6533 20.0577L1.11225 10.5167L10.6533 0.975586" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>

                  <span class="next">
                    <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.05591 19.8136L10.597 10.2725L1.05591 0.731445" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if isVideo %}
        <div class="default-banner__video js-preview">
            <video class="default-banner__video-el js-preview-video" src="./assets/videos/keramir-video.mp4"></video>
            <div class="default-banner__video-control js-preview-video-control">
                <svg class="default-banner__video-play" xmlns="http://www.w3.org/2000/svg" width="133" height="133"
                     viewBox="0 0 133 133" fill="none">
                    <path d="M66.5 133C29.8103 133 0 103.126 0 66.5C0 29.8103 29.8103 0 66.5 0C103.19 0 133 29.8103 133 66.5C133 103.126 103.126 133 66.5 133ZM66.5 3.63075C31.8487 3.63075 3.63075 31.8487 3.63075 66.5C3.63075 101.151 31.8487 129.369 66.5 129.369C101.151 129.369 129.369 101.151 129.369 66.5C129.369 31.8487 101.151 3.63075 66.5 3.63075Z"
                          fill="#272525"/>
                    <path d="M47.5179 96.82C47.1994 96.82 46.8809 96.7563 46.6261 96.5652C46.0529 96.2467 45.7344 95.6734 45.7344 94.9727V37.9636C45.7344 37.3266 46.0529 36.6897 46.6261 36.3712C47.1994 36.0527 47.9001 36.0527 48.4097 36.3712L97.1381 64.9076C97.7114 65.2261 98.0299 65.7994 98.0299 66.4363C98.0299 67.0733 97.7114 67.6466 97.1381 67.9651L48.4097 96.5652C48.1549 96.6926 47.8364 96.82 47.5179 96.82ZM49.3014 41.1485V91.8516L92.6793 66.5L49.3014 41.1485Z"
                          fill="#272525"/>
                </svg>

                <svg class="default-banner__video-pause" xmlns="http://www.w3.org/2000/svg" width="134" height="133"
                     viewBox="0 0 134 133" fill="none">
                    <path d="M67 133C30.0345 133 0 103.126 0 66.5C0 29.8103 30.0345 0 67 0C103.966 0 134 29.8103 134 66.5C134 103.126 103.901 133 67 133ZM67 3.63075C32.0881 3.63075 3.65805 31.8487 3.65805 66.5C3.65805 101.151 32.0881 129.369 67 129.369C101.912 129.369 130.342 101.151 130.342 66.5C130.342 31.8487 101.912 3.63075 67 3.63075Z"
                          fill="#272525"/>
                    <path d="M59.1065 98.4126H42.0998C41.073 98.4126 40.3029 97.5845 40.3029 96.6291V36.3714C40.3029 35.3523 41.1371 34.5879 42.0998 34.5879H59.1065C60.1333 34.5879 60.9034 35.416 60.9034 36.3714V96.6291C60.9034 97.6482 60.0691 98.4126 59.1065 98.4126ZM43.9609 94.8456H57.3096V38.1549H43.9609V94.8456Z"
                          fill="#272525"/>
                    <path d="M91.837 98.4126H74.8945C73.8676 98.4126 73.0975 97.5845 73.0975 96.6291V36.3714C73.0975 35.3523 73.9318 34.5879 74.8945 34.5879H91.837C92.8638 34.5879 93.6339 35.416 93.6339 36.3714V96.6291C93.6981 97.6482 92.8638 98.4126 91.837 98.4126ZM76.6914 94.8456H90.0401V38.1549H76.6914V94.8456Z"
                          fill="#272525"/>
                </svg>
            </div>
        </div>
    {% elseif not isNothing %}
        <div class="default-banner__content">
            {% if _3d %}
                <div class="default-banner__3d">
                    <div class="block-title">
                        3D ДИЗАЙН ПРОЕКТ - БЕСПЛАТНО
                    </div>

                    <div class="default-banner__3d-desc">
                        Бесплатно мы создадим 3D проект вашего интерьера.
                        Вы будете присутствовать сейчас в Вашем будущем интерьере!
                    </div>

                    {% include "../UI/button.twig" with {
                        text: "ПОПАСТЬ ВНУТРЬ",
                        colorClass: "_center sm"
                    } %}
                </div>

                <div class="default-banner__3d-360">
                    <img src="./assets/images/circle-360.png" alt="">
                </div>
            {% endif %}

            {% if isCatalog %}
                {# <div class="default-banner__text"> #}
                {# <div class="default-banner__title">Каталог</div> #}
                {# <div class="default-banner__descr">Лид — аннотация, «шапка» статьи, новости или пресс-релиза. #}
                {# <br/>Состоит из одного первого выделенного абзаца, в котором коротко формулируется проблема, #}
                {# раскрывается суть заголовка. Размер лида обычно не превышает 3-5 строк. #}
                {# </div> #}
                {# </div> #}
            {% endif %}

            {% if command %}
                <div class="default-banner__left-text default-banner__left-text-command">
                    <div class="default-banner__command-title">
                        НАША КОМАНДА
                    </div>
                    <div class="default-banner__command-descr">
                        Лид — аннотация, «шапка» статьи, новости или пресс-релиза.
                        Состоит из одного первого выделенного абзаца, в котором коротко формулируется проблема,
                        раскрывается суть заголовка. Размер лида обычно не превышает 3-5 строк.
                    </div>
                </div>
            {% endif %}

            {% if isSlider %}
                <div class="default-banner__slider js-banner-slider">
                    <div class="default-banner__slider-row-nav">
                        <div class="default-banner__controls-wrapper">
                            <button class="default-banner__slider-toggle js-banner-slider-toggle">
                                <i>
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M28.2857 25.3936L22.0179 19.1257L15.75 25.3936" stroke="#020202"
                                              stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>

                                <span>Коллекции</span>
                            </button>

                            <div class="default-banner__active-text">
                                Фотографии сделаны<br />
                                в магазине КЕРАМИР
                            </div>
                        </div>

                        <div class="default-banner__backSlider-controls js-slider-controls">
                          <span class="prev">
                            <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6533 20.0577L1.11225 10.5167L10.6533 0.975586" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </span>

                            <span class="next">
                                <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.05591 19.8136L10.597 10.2725L1.05591 0.731445" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </span>
                        </div>
                    </div>

                    <div class="default-banner__slider-content js-banner-slider-content">
                        <div class="default-banner__slider-container">
                            <div class="js-banner-slider-swiper default-banner__slider-swiper">
                                <div class="swiper-wrapper">
                                    {% for i in [1,2,3,4,1,2,3,4] %}
                                        <a href="javascript:void(0);" class="swiper-slide default-banner__slide">
                                            <div class="default-banner__slide-img">
                                                <img src="./assets/images/catalog-{{ i }}.png" alt="">
                                            </div>

                                            <div class="default-banner__slide-content">
                                                <div class="default-banner__slide-builder">
                                                    Производитель
                                                </div>

                                                <div class="default-banner__slide-name">
                                                    Name of the collection - {{ i }}
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
    {% endif %}

    {% if not noMouse %}
        <div class="default-banner__mouse">
            <img src="./assets/images/mouse-banner.png" alt="">
        </div>
    {% endif %}
</div>
